# OpenWeatherMap API Key (Get at: https://home.openweathermap.org/api_keys)
OPENWEATHER_API_KEY=839e2b397d2a21a164f029ab5316f529

# Pixabay API Key (Get at: https://pixabay.com/api/docs/)
PIXABAY_API_KEY=55560953-531877f497d9737a3b615636f